# Node
node_modules/
uploads/*
!uploads/.gitkeep
.env*
!.env.example
npm-debug.log*

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/local.properties
android/.gradle/
android/app/.cxx/
ios/Flutter/.last_build_id
*.iml
.idea/

# General
.DS_Store
*.log
